<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <br>
  <p>
   Splurty is a fun project that was built using the programming language <span class="text-span">Ruby</span> and its frameworks <span class="text-span">Ruby On Rails</span>. This is my first challenge in the path of learning to code with these technologies.
  </p>
  <br/>
  <p>
    If you want to learn how to code the best way and meet nice people, start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>
  </p>
  <br>
  <div class="row">
    <div class="col-12 col-sm-4 photo">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Rodrigo</h2>
      <br/>
      <p class="texto-about">
        Born and raised in Chile, he is a resident of New York and has a background in programming languages and databases like PHP, Java, MySQL, PostgreSQL, among others. In his last job he was involved in a project of database using File Maker Pro and File Maker Server.
      </p>
      <p class="texto-about">
        He enjoys to practice some sports and have bicycle tours with his family, as well as, watching  a good movie and learning about new technologies.
      </p>
      <p class="texto-about">
        Today he is starting to study, mainly, to update his knowledge and return to the path of coding that has given him so much satisfaction.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br>
  <br>
  <br>
  <br>
</div>

