<h2>
  <span>Splurty #<%= @quote.id%> </span>  Enjoy this geeky quote of the day!

</h2>
 <br>
<h1><%= @quote.saying %></h1>
<br>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br/>
<br/>
<br/>