<h2>
  <span>Splurty / No. <%= @quote.id%> </span>

  You know you are a geek when...

</h2>
 <br>
<h1><%= @quote.saying %></h1>
<br>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br/>
<br/>
<br/>